doctype html
html(ng-app="adminka")
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/admin.css')
        
        script(src='//localhost:35730/livereload.js' type='text/javascript')
        script(src="/javascripts/angular.min.js")
        script(src="/javascripts/angular-animate.js")
        script(src="/javascripts/ckeditor/ckeditor.js")
        script(src="/javascripts/ng-file-upload/ng-file-upload-shim.min.js")
        script(src="/javascripts/ng-file-upload/ng-file-upload.min.js")

    body
        side-panel.left
        header
            top-panel.top-panel

        .content-wrapper
            block content
        footer

    script(src="/javascripts/app.admin.min.js")