//- 
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.
     

.call-wrapper
    
    ul#call-block
        li
            i.fa.fa-phone
            span &nbsp;(7252)29-27-83
        li 
            i.fa.fa-mobile
            span &nbsp;+7(708)478-67-07
        li 
            i.fa.fa-mobile
            span &nbsp;+7(771)052-48-48
        li 
            a(href tip="Заказать звонок")
                i.fa.fa-phone
                span &nbsp;Позвонить мне