#top-panel
    a(href)#enter 
        i.fa.fa-user 
        # Вход на сайт
        
    ul.right
        li.iblock.p-10
            a(href="/") Главная
        li.iblock.p-10
            a(href) Доставка
        li.iblock.p-10
            a(href) Способы оплаты
    div(style="clear:both")