#top-menu.iblock.vt
    ul
        li
            a(href) Акции
        li 
            a(href) Газета
        li 
            a(href) Калькулятор компьютера
        li 
            a(href) Оптовые продажи
        li 
            a(href) Обмен и возврат 
        



