h3{
    font-size: 20px;
    text-align: center;
}
.red{color: red;}
.green{color: lawngreen;}
.blue{color: dodgerblue;}
.logo{
    width: 100%;
    height: 50px;
    border-bottom:1px solid black;
}
header{
    border-bottom: 1px solid black;
    background-color: aquamarine;
    height: 50px;
    margin-left: 250px;
}
.top-panel{
    height: 25px;
    overflow: hidden;
    border-bottom: 2px solid black;

}
.top-panel>ul>li{
    display: inline-block;
}
.side-panel{
    width: 250px;
    height: 100vh;
    border-right: 2px solid black;
    overflow: auto;
}
.content-wrapper{
    background-color: #ddd;
    margin-left: 250px;
    height: calc(100vh - 50px);
    overflow: auto;
}

#main-menu>li{
    /*height: 50px;*/
    border: 1px solid #cccccc;
}
#main-menu img{
    height: 50px;
    width: 50px;
}
#main-menu .subitems{
    margin-left: 50px;
}
#main-menu .subitems .ssubitems{
    margin-left: 50px;
}
/*#main-menu>li>span{
    position: relative;
}*/
#main-menu>li>img{
    width: 50px;
    height: 50px;
    display: inline-block;
}

.fon{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
}
#category-form{
    position: relative;

    margin: auto;
    margin-top: calc(50vh - 125px);
    width: 430px;
    height: 250px;

    background-color: #eee;
}
/* =================================== products =====================================*/
#product-form{
    width: 700px;
    height: 500px;
    background-color: #fff;
    margin: calc(50vh - 255px) auto 0 auto;
    position: relative;
        
}
#product-form .tabs{
   margin: auto;
   width: 100%;
}
#product-form .tabs li{
   display: inline-block;
   margin: 5px 0 0 0;
   width: 33.3%;
   text-align: center;
   border: 1px solid #6d9fd4;
   border-radius: 15px 15px 0 0;
   cursor: pointer;
   padding: 5px 0;
   font-weight: bold;
   font-size: 14px;
}
#product-form .tabs li:hover{
    background-color: #ccf;
}
form-group{
    display: block;
    padding: 5px 10px;
    margin: 5px auto;
    width: 98%;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#product-form .footer{
    height: 50px;
    width: 100%;
    border-top: 1px solid black;
    position: absolute;
    bottom: 0;
    left: 0;
}
#product-form .tab-content{
    overflow-y: scroll;
    height: calc(100% - 85px);
    
}
.img-btn{
    display: inline-block;
    width: 250px;
    overflow: hidden;
}
.thumb{
    display: inline-block;
    width: 250px;
    height: 250px;
}
.thumb>img{
    width: 250px;
    height: 250px;
}
#product-form .thumb{
    float: right;
}
textarea{
    resize: vertical;
}