header{
    height: 250px;
    border-bottom: 2px solid black;
}
#top-panel{
    border: 1px solid black;
    height: 25px;
    width: 100%;
}
#main-menu{
    height: 50px;
    width: 980px;
    border: 0px solid black;
    overflow: hidden;
    position: relative;
}
#main-menu>ul{
    margin-left: 10px;
    transition-property: "margin";
    transition-duration: 0.5s;
}
#main-menu>ul>li{
    display: inline-block;
    width: 188px;
    height: 50px;
    border: 1px solid #41b8d6;
    margin-right: 5px;
    
}
#main-menu>ul>li>a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
#main-menu>ul>li .title{
    display: inline-block;
    width: 135px;
    text-align: center;
}
#main-menu>ul>li img{
    width: 50px;
    height: 50px;
}
#subitems>ul>li{
    display: block;
    width: 250px;
    height: 50px;
}
.subnext, .subprev{
    display: inline-block;
    width: 10px;
    height: 50px;
    position: absolute;
    top: 0;
    background-color: #fff;
}
.prev, .next{
    display: inline-block;
    width: 10px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    top: 0;
    cursor: pointer;
    background-color: #476ba7;
    text-align: center;
    color: #fff;
    font-weight: bold;
    z-index: 1000;
}
.prev:hover, .next:hover{
    background-color: #4793a7;
}
.prev{
    
    border-radius: 5px 0 0 5px;
}
.next{
    
    border-radius: 0 5px 5px 0;
    
}
.subnext{
    right: 0;
}
.subprev{
    left: 0;
}

.mm-disabled{
    background-color: #ccc;
    cursor: default;
}
.mm-disabled:hover{
    background-color: #ccc;
}
