
header{
    height: 250px;
    border-bottom: 2px solid black;
}
#top-panel{
    height: 30px;
    background-color: #eee;
    width: 100%;
}
#enter{
    border-radius: 5px;
    box-shadow: 0 0 2px 1px #c6e0f0;
    background-color: #fff;
    padding: 2px 10px 2px 10px;
    margin: 5px 0 0 30px;
    font-size: 11px;
    display: inline-block;
}
#enter i{
    font-size: 11px;
    margin-right: 5px;
}
.logo{
    float: left;
}
.logo span{
    margin-top: -10px;
    text-align: center;
    display: block;
    width: 200px;
    color: #05f;
    font-weight: bold;
    
}
#top-menu{
    margin: -8px auto 0 40px;
    width: 550px;
}
#top-menu>ul>li{
    display: inline-block;
    padding: 0 5px 0 5px;
    background: #21a8a3; 
    background: linear-gradient(to bottom, #bbd1e8 0%,#fff 100%); 
    border-radius: 0 0 10px 10px;
    
}
#top-menu>ul>li>a{
    color: #05f;
}
#top-menu>ul>li:hover{
    background: linear-gradient(to bottom, #2074cd 0%,#bbd1e8 100%);
    color: #fff;
}
#top-menu>ul>li>a:hover{
    color: #fff;
}
.call-wrapper{
    display: inline-block;    
    float: right;
    margin: 40px 30px 0 0;
}
#call-block>li{
    font-size: 16px;
}
#call-block>li>a{
    background-color: #37b1fc;
    color: #000;
    padding: 2px 10px;
    border-radius: 7px;
}
#main-menu{
    height: 50px;
    width: 1000px;
    border: 0px solid black;
    overflow: hidden;
    position: relative;
}
#main-menu>ul{
    margin-left: 10px;
    transition-property: "margin";
    transition-duration: 0.5s;
}
#main-menu>ul>li{
    display: inline-block;
    width: 192px;
    height: 50px;
    border: 1px solid #41b8d6;
    margin-right: 5px;
    
}
#main-menu>ul>li>a>i{
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    display: block;
    width: 142px;
    font-size: 16px;
    font-weight: bold;
    pointer-events: none;
}
#main-menu>ul>li>a{
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
}
#main-menu>ul>li .title{
    display: inline-block;
    width: 142px;
    text-align: center;
    pointer-events: none;
}
#main-menu>ul>li img{
    width: 46px;
    height: 46px;
    pointer-events: none;
    margin: 1px;
}
.menu-wrapper{
    position:relative;
}
#subitems{
    position: absolute;
    
}
#subitems>ul>li{
    display: block;
    width: 250px;
    height: 50px;
    margin-bottom: 5px;
    border: 1px solid #41b8d6;
    position: relative;
    background-color: #fff;
}
#subitems>ul>li img{
    width: 46px;
    height: 46px;
    pointer-events: none;
    margin: 1px;
}
#subitems>ul>li>a{
    display: block;
    width: 100%;
    height: 100%;
}
#subitems>ul>li>i{
    position: absolute;
    top: 0;
    right: 0;
    line-height: 50px;
    font-size: 16px;
    font-weight: bold;
    color: #41b8d6;
    pointer-events: none;
}
.subnext, .subprev{
    display: inline-block;
    width: 10px;
    height: 50px;
    position: absolute;
    top: 0;
    background-color: #fff;
}
.prev, .next{
    display: inline-block;
    width: 10px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    top: 0;
    cursor: pointer;
    background-color: #476ba7;
    text-align: center;
    color: #fff;
    font-weight: bold;
    z-index: 1000;
}
.prev:hover, .next:hover{
    background-color: #4793a7;
}
.prev{
    
    border-radius: 5px 0 0 5px;
}
.next{
    
    border-radius: 0 5px 5px 0;
    
}
.subnext{
    right: 0;
}
.subprev{
    left: 0;
}

.mm-disabled{
    background-color: #ccc;
    cursor: default;
}
.mm-disabled:hover{
    background-color: #ccc;
}
.animation-fade.ng-hide-add,
.animation-fade.ng-hide-remove {
     /* здесь прописаны эффекты проявления и исчезновения слайда */
     -webkit-transition: 1s linear all;
     -moz-transition: 1s linear all;
     -o-transition: 1s linear all;
     transition: 1s linear all;
     display: block !important;
}
.animation-fade.ng-hide-add,
.animation-fade.ng-hide-remove.ng-hide-remove-active {
     /* это стартовая точка анимации исчезновения и конечная точка анимации проявления */
     opacity: 1;
 }
.animation-fade.ng-hide-add.ng-hide-add-active,
.animation-fade.ng-hide-remove {
     /* это конечная точка анимации исчезновения и стартовая точка анимации проявления */
     opacity: 0;
     position: absolute;
}
/*=================================== slider ====================================*/
#main-slider>ul{
    height: 300px;
    width: 100%;
    
}
#main-slider>ul>li{
    height: 270px;
    width: 1000px;
    border: 1px solid black;
}
.slide-img{
    width: 250px;
    height: 250px;
    margin: 10px;
    display: inline-block;
    box-shadow: 0 0 5px 5px rgba(0,0,0, .3);
}
.slide-title{
    vertical-align: top;
    display: inline-block;
    width: 100%;
    height: 30px;
    font-size: 17px;
    text-align: center;
}
.slide-desc{
    display: inline-block;
    width: calc(100% - 275px);
    float: right;
}