//
   Created by yaroslav on 8/16/16.
.side-panel
    .logo
        a(href="/")
            img(src="/images/logo.png" height="50")
    ul.menu
        li
            a(href="/admin/categories") Категории
        li
            a(href="/admin/users") Пользователи
        li
            a(href="/admin/catalog") Каталог
        li
            a(href="/admin/types") Типы инфоблоков
